/* Main-page styling */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #ffffff;
}

.App {
  text-align: center;
  margin: 20px;
  padding-top: 120px;
}

/* Animation for spinning logo */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Navbar styling */
.navbar {
  width: 100vw;
  padding: 10px 0;
  background: linear-gradient(to right, #56135a, #9a90df, #d3c3e0, #e2a965);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar-collapse {
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-logo {
  width: 150px;
  height: auto;
  filter: brightness(0) invert(1);
}

.navbar-nav {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.nav-item {
  margin: 0 30px;
}

.nav-link {
  background-color: transparent;
  color: white;
  border: 2px solid transparent;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1.5rem;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #e2a965;
}
