/* Main-page styling */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(29, 29, 29);
}

/* App container */
.App {
  text-align: center;
  margin: 20px;
  padding-top: 120px;
}

/* Animation for spinning logo */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Navbar container with flexbox */
.navbar {
  width: 100vw;
  padding: 10px 0;
  background: url("../public/Navbar-Galaxy.jpg") no-repeat center center;
  background-size: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
}

@keyframes move {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.navbar {
  animation: move 40s linear infinite; /* Adjust the duration for speed */
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.navbar-collapse {
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* Logo styling */
.navbar-logo {
  width: 150px;
  height: auto;
  filter: brightness(0) invert(1);
  padding-bottom: 10px;
}

/* Navbar items aligned to the right */
.navbar-nav {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding-right: 20px;
}

.nav-item {
  padding: 0px 20px;
}

.nav-link {
  background-color: transparent;
  padding: 5px 20px;
  color: white;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 1.8rem;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #e2a965;
}
